node_modules/
src/_components/_includes
src/_components/css/*.css
src/_components/js

.cache
.browserlistrc
.htmlnanorc.js

dist/

purgecss.config.js

critical.js
.htaccess
robots.txt
sitemap.xml


script.js
sw.js
manifest.json
package.txt